name: Render
on:
  push:
    branches: [ main ]
    paths-ignore:
      - README.md
      - .github/dependabot.yaml
      - .github/workflow/version.yaml

jobs:
  render:
    name: Render
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v1.5.4

      - name: Get current version
        id: current
        run: |
          echo "::set-output name=version::$(sed -n 's!.*/argo-cd/\(v[^/]*\)/.*!\1!p' source/kustomization.yaml | head -n1)"

      - name: Render install.yaml
        run: |
          kustomize build source/ > install.yaml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.9.1
        with:
          title: "Render argoproj/argo-cd ${{ steps.current.outputs.version }}"
          commit-message: "[bot] rendered install.yaml for ${{ steps.current.outputs.version }}"
          body: "Render of install.yaml"
          branch: render/argocd
          delete-branch: true
          labels: kustomize,render
